* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Slab", serif;
}

body {
  background-color: #ffffff;
  background-size: cover;
  background-image: url(../multimedia/fondo/bamboo.webp);
  background-attachment: fixed;
}

.contenedor {
  margin: auto;
  width: 90%;
  display: grid;
  grid-template-rows: 1fr 5fr 0.75fr;
  grid-template-areas: "header" "main" "footer";
}
.contenedor .header {
  width: 100%;
  padding: 15px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  grid-area: header;
}
.contenedor .header .logo img {
  width: 200px;
  height: 100px;
  margin: 5px;
  padding: 5px;
}
.contenedor .header .menu {
  text-align: center;
  list-style-type: none;
  margin: 10px;
}
.contenedor .header .menu ul {
  list-style-type: none;
  display: flex;
}
.contenedor .header .menu ul li {
  display: inline-block;
  margin: 20px;
  padding: 10px;
}
.contenedor .header .menu ul li:hover {
  transform: scale(1.1, 1.1);
}
.contenedor .header .menu ul li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  font-size: 1.3rem;
}
.contenedor .header .menu ul li a:hover {
  background-color: #457D58;
  color: #ffffff;
}
.contenedor main {
  width: 100%;
  padding: 15px 0;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-area: main;
}
.contenedor .fondoIndex {
  background-image: url(../multimedia/fondo/fondoindex.jpg);
  background-repeat: no-repeat;
  display: flex;
  opacity: 0.9;
}
.contenedor .fondoIndex h1 {
  color: black;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

footer {
  width: 100%;
  padding: 15px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0;
  background-color: #ffffff;
  opacity: 0.7;
  grid-area: footer;
}
footer .redesSociales .logoFooter {
  width: 200px;
  height: 100px;
  margin: 5px;
  padding: 5px;
}
footer .redesSociales .redes {
  width: 50px;
  height: 50px;
  margin: 5px;
  padding: 5px;
}
footer .redesSociales .redes:hover {
  transform: scale(1.1, 1.1);
}

.contenedor main {
  width: 100%;
  padding: 15px 0;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-area: main;
}
.contenedor .contactos {
  display: flex;
  display: grid;
  background-color: #b4b4b4;
  opacity: 0.9;
  grid-template-columns: 3fr 3fr;
  grid-template-rows: 0.75fr 4fr;
  grid-template-areas: "contacto contacto" "formulario informacion";
}
.contenedor .titulos {
  background-color: #457D58;
  grid-area: contacto;
  text-align: center;
}
.contenedor .titulos h1 {
  color: black;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
.contenedor .formulario {
  background-color: #b4b4b4;
  text-align: center;
  grid-area: formulario;
  justify-self: center;
  align-self: center;
  font-size: 25px;
}
.contenedor .informacion {
  background-color: #b4b4b4;
  text-align: center;
  grid-area: informacion;
  justify-self: center;
  align-self: center;
  font-size: 25px;
}
.contenedor .informacion ul {
  list-style-type: none;
}

.contenedor main {
  width: 100%;
  padding: 15px 0;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-area: main;
}
.contenedor .mainProductos {
  display: flex;
  display: grid;
  background-color: #ffffff;
  opacity: 0.9;
  grid-template-rows: 0.75fr 4fr;
  grid-template-areas: "titulo" "galeriaDeImagenes";
}
.contenedor .titulo {
  background-color: #457D58;
  text-align: center;
  grid-area: titulo;
}
.contenedor .titulo h1 {
  color: black;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
.contenedor .galeriaDeImagenes {
  justify-self: center;
  align-self: center;
  width: 400px;
  height: 525px;
  grid-area: galeriaDeImagenes;
}
.contenedor .galeriaDeImagenes:hover {
  transform: scale(1.1, 1.1);
}

.contenedor main {
  width: 100%;
  padding: 15px 0;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-area: main;
}
.contenedor .mainNosotros {
  display: flex;
  display: grid;
  background-color: #b4b4b4;
  opacity: 0.9;
  grid-template-rows: 0.75fr 4fr;
  grid-template-areas: "tituloNosotros" "parrafo";
}
.contenedor .tituloNosotros {
  background-color: #457D58;
  text-align: center;
  grid-area: tituloNosotros;
}
.contenedor .tituloNosotros h1 {
  color: black;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
.contenedor .parrafo {
  text-align: center;
  justify-self: center;
  align-self: center;
  background-color: #b4b4b4;
  font-size: 30px;
  padding: 50px;
}

.contenedor main {
  width: 100%;
  padding: 15px 0;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-area: main;
}
.contenedor .mainAccesorios {
  display: flex;
  display: grid;
  background-color: #ffffff;
  opacity: 0.9;
  grid-template-rows: 0.75fr 4fr;
  grid-template-areas: "tituloAccesorios" "imagenesDeAccesorios";
}
.contenedor .tituloAccesorios {
  background-color: #457D58;
  text-align: center;
  grid-area: tituloAccesorios;
}
.contenedor .tituloAccesorios h1 {
  color: black;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
.contenedor .imagenesDeAccesorios {
  justify-self: center;
  align-self: center;
  width: 400px;
  height: 525px;
  grid-area: imagenesDeAccesorios;
}
.contenedor .imagenesDeAccesorios:hover {
  transform: scale(1.1, 1.1);
}

@media (min-width: 320px) and (max-width: 576px) {
  .contenedor {
    margin: auto;
    width: 90%;
    display: grid;
    grid-template-rows: 0.75fr 5fr 0.75fr;
    grid-template-areas: "header" "main" "footer";
  }
  .contenedor .header {
    width: 100%;
    padding: 5px 0;
    margin: 5px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    grid-area: header;
  }
  .contenedor .header .logo img {
    width: 80px;
    height: 50px;
    margin: 5px;
    padding: 5px;
  }
  .contenedor .header .menu {
    text-align: center;
    list-style-type: none;
    margin: 1px;
    font-size: 5px;
  }
  .contenedor .header .menu ul {
    list-style-type: none;
    display: flex;
  }
  .contenedor .header .menu ul li {
    display: inline-block;
    margin: 8px;
    padding: 1px;
  }
  .contenedor .header .menu ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 1px;
    font-size: 10px;
  }
  .contenedor .header .menu ul li a:hover {
    background-color: #457D58;
    color: white;
  }
  .contenedor main {
    width: 100%;
    padding: 5px 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-area: main;
  }
  .contenedor .fondoIndex {
    background-image: url(../multimedia/fondo/fondoindex.jpg);
    background-repeat: no-repeat;
    display: flex;
    opacity: 0.9;
  }
  .contenedor .fondoIndex h1 {
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  .contenedor footer {
    width: 100%;
    padding: 5px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5px 0;
    background-color: #ffffff;
    opacity: 0.7;
    grid-area: footer;
  }
  .contenedor footer .redesSociales .logoFooter {
    width: 80px;
    height: 50px;
    margin: 5px;
    padding: 5px;
  }
  .contenedor footer .redesSociales .redes {
    width: 30px;
    height: 30px;
    margin: 5px;
    padding: 5px;
  }
  /*scss de contacto*/
  .contenedor {
    margin: auto;
    width: 90%;
    display: grid;
    grid-template-rows: 0.75fr 5fr 0.75fr;
    grid-template-areas: "header" "main" "footer";
  }
  .contenedor .header {
    width: 100%;
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    grid-area: header;
  }
  .contenedor .header .logo img {
    width: 80px;
    height: 50px;
    margin: 5px;
    padding: 5px;
  }
  .contenedor .header .menu {
    text-align: center;
    list-style-type: none;
    margin: 1px;
    font-size: 5px;
  }
  .contenedor .header .menu ul {
    list-style-type: none;
    display: flex;
  }
  .contenedor .header .menu ul li {
    display: inline-block;
    margin: 8px;
    padding: 1px;
  }
  .contenedor .header .menu ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 1px;
    font-size: 10px;
  }
  .contenedor .header .menu ul li a:hover {
    background-color: #457D58;
    color: white;
  }
  .contenedor main {
    width: 100%;
    padding: 5px 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-area: main;
  }
  .contenedor .contactos {
    display: flex;
    display: grid;
    background-color: #b4b4b4;
    opacity: 0.9;
    grid-template-columns: 2fr;
    grid-template-rows: 0.75fr 3fr 3fr;
    grid-template-areas: "contacto" "formulario" "informacion";
  }
  .contenedor .titulos {
    background-color: #457D58;
    grid-area: contacto;
    text-align: center;
  }
  .contenedor .titulos h1 {
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  .contenedor .formulario {
    background-color: #b4b4b4;
    text-align: center;
    grid-area: formulario;
    justify-self: center;
    align-self: center;
    font-size: 15px;
  }
  .contenedor .informacion {
    background-color: #b4b4b4;
    text-align: center;
    grid-area: informacion;
    justify-self: center;
    align-self: center;
    font-size: 15px;
  }
  .contenedor .informacion ul {
    list-style-type: none;
  }
  /*scss de productos*/
  .contenedor {
    margin: auto;
    width: 90%;
    display: grid;
    grid-template-rows: 0.75fr 5fr 0.75fr;
    grid-template-areas: "header" "main" "footer";
  }
  .contenedor .header {
    width: 100%;
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    grid-area: header;
  }
  .contenedor .header .logo img {
    width: 200px;
    height: 100px;
    margin: 5px;
    padding: 5px;
  }
  .contenedor .header .menu {
    text-align: center;
    list-style-type: none;
    margin: 10px;
  }
  .contenedor .header .menu ul {
    list-style-type: none;
    display: flex;
  }
  .contenedor .header .menu ul li {
    display: inline-block;
    margin: 20px;
    padding: 10px;
  }
  .contenedor .header .menu ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    font-size: 1.3rem;
  }
  .contenedor .header .menu ul li a:hover {
    background-color: #457D58;
    color: white;
  }
  .contenedor main {
    width: 100%;
    padding: 5px 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-area: main;
  }
  .contenedor .mainProductos {
    display: flex;
    display: grid;
    background-color: #ffffff;
    opacity: 0.9;
    grid-template-rows: 0.1fr 1fr;
    grid-template-areas: "titulo" "galeriaDeImagenes";
  }
  .contenedor .titulo {
    background-color: #457D58;
    text-align: center;
    grid-area: titulo;
  }
  .contenedor .titulo h1 {
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  .contenedor .galeriaDeImagenes {
    justify-self: center;
    align-self: center;
    width: 200px;
    height: 260px;
    grid-area: galeriaDeImagenes;
  }
  .contenedor .galeriaDeImagenes:hover {
    transform: scale(1.1, 1.1);
  }
  /*estilo de nosotros*/
  .contenedor {
    margin: auto;
    width: 90%;
    display: grid;
    grid-template-rows: 1fr 5fr 0.75fr;
    grid-template-areas: "header" "main" "footer";
  }
  .contenedor .header {
    width: 100%;
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    grid-area: header;
  }
  .contenedor .header .logo img {
    width: 200px;
    height: 100px;
    margin: 5px;
    padding: 5px;
  }
  .contenedor .header .menu {
    text-align: center;
    list-style-type: none;
    margin: 10px;
  }
  .contenedor .header .menu ul {
    list-style-type: none;
    display: flex;
  }
  .contenedor .header .menu ul li {
    display: inline-block;
    margin: 20px;
    padding: 10px;
  }
  .contenedor .header .menu ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    font-size: 1.3rem;
  }
  .contenedor .header .menu ul li a:hover {
    background-color: #457D58;
    color: white;
  }
  .contenedor main {
    width: 100%;
    padding: 5px 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-area: main;
  }
  .contenedor .mainNosotros {
    display: flex;
    display: grid;
    background-color: #b4b4b4;
    opacity: 0.9;
    grid-template-rows: 0.1fr 1fr;
    grid-template-areas: "tituloNosotros" "parrafo";
  }
  .contenedor .tituloNosotros {
    background-color: #457D58;
    text-align: center;
    grid-area: tituloNosotros;
  }
  .contenedor .tituloNosotros h1 {
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  .contenedor .parrafo {
    text-align: center;
    justify-self: center;
    align-self: center;
    background-color: #b4b4b4;
    font-size: 15px;
    padding: 25px;
  }
  /*estilo de accesorios*/
  .contenedor {
    margin: auto;
    width: 90%;
    display: grid;
    grid-template-rows: 0.75fr 5fr 0.75fr;
    grid-template-areas: "header" "main" "footer";
  }
  .contenedor .header {
    width: 100%;
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    grid-area: header;
  }
  .contenedor .header .logo img {
    width: 200px;
    height: 100px;
    margin: 5px;
    padding: 5px;
  }
  .contenedor .header .menu {
    text-align: center;
    list-style-type: none;
    margin: 1px;
    font-size: 5px;
  }
  .contenedor .header .menu ul {
    list-style-type: none;
    display: flex;
  }
  .contenedor .header .menu ul li {
    display: inline-block;
    margin: 8px;
    padding: 1px;
  }
  .contenedor .header .menu ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 1px;
    font-size: 10px;
  }
  .contenedor .header .menu ul li a:hover {
    background-color: #457D58;
    color: white;
  }
  .contenedor main {
    width: 100%;
    padding: 5px 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-area: main;
  }
  .contenedor .mainAccesorios {
    display: flex;
    display: grid;
    background-color: #ffffff;
    opacity: 0.9;
    grid-template-rows: 0.1fr 1fr;
    grid-template-areas: "tituloAccesorios" "imagenesDeAccesorios";
  }
  .contenedor .tituloAccesorios {
    background-color: #457D58;
    text-align: center;
    grid-area: tituloAccesorios;
  }
  .contenedor .tituloAccesorios h1 {
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  .contenedor .imagenesDeAccesorios {
    justify-self: center;
    align-self: center;
    width: 200px;
    height: 260px;
    grid-area: imagenesDeAccesorios;
  }
  .contenedor .imagenesDeAccesorios:hover {
    transform: scale(1.1, 1.1);
  }
}

/*# sourceMappingURL=estilo.css.map */
