*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Slab", serif;
}
body{
    background-color: $blanco;
    background-size: cover;
    background-image: url(../multimedia/fondo/bamboo.webp);
    background-attachment: fixed;
}
.contenedor{
    margin: auto;
    width: 90%;
    display: grid ;
    grid-template-rows: 1fr 5fr 0.75fr;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    .header{
        width: 100%;
        padding: 15px 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        grid-area: header;
        .logo{
            img{
                width: 200px;
                height: 100px;
                margin: 5px;
                padding: 5px;
            }
        }
        .menu{
            text-align: center;
            list-style-type: none;
            margin: 10px;
            ul{
                list-style-type: none;
                display: flex;
                li{
                    display: inline-block;
                    margin: 20px;
                    padding: 10px;
                    &:hover{
                        transform: scale(1.1,1.1);
                    }
                    a{
                        color: black;
                        text-decoration: none;
                        font-weight: bold;
                        padding: 10px;
                        font-size: 1.30rem;
                        &:hover{
                            background-color: $verde;
                            color:$blanco;
                        }
                    }
                }
            }
        }
    }
    main{
        width: 100%;
        padding: 15px 0;
        background-color: $blanco;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        grid-area: main;
    }    
    .fondoIndex{
            background-image: url(../multimedia/fondo/fondoindex.jpg);
            background-repeat: no-repeat;
            display: flex;
            opacity: .9;
            h1{
            color: black;
            font-size: 40px;
            font-weight: bold;
            text-align: center;
            }
    }
}
footer{
    width: 100%;
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    margin: 20px 0;
    background-color: $blanco;
    opacity: .7;
    grid-area: footer;
    .redesSociales{
        .logoFooter{
            width: 200px;
            height: 100px;
            margin: 5px;
            padding: 5px;
        }
        .redes{
            width: 50px;
            height: 50px;
            margin: 5px;
            padding: 5px;
            &:hover{
                transform: scale(1.1,1.1);
            }
        }
    }
}